body {
  background-color: lavender;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  max-width: 100%;
  min-width: 50%;
  border: solid;
  border-width: 5px;
  border-color: lightblue;
  border-radius: 5px;
  position: absolute;
  top: 50px;
  left: 200px;
  width: 800px;
  padding-bottom: 10px;
  padding-top: 10px;
}

img {
  position: relative;
  left: 20px;
}

h1 {
  font-family: serif;
  background-color: lightpink;
  font-size: 200%;
  color: black;
  position: static;
  text-align: center;
  border: solid;
  border-style: outset;
  border-color: lightgrey;
  border-width: 5px;
  word-spacing: 5px;
}

h2 {
  font-family: serif;
  background-color: lightpink;
  font-size: 170%;
  color: black;
  text-align: center;
  border: solid;
  border-style: outset;
  border-color: lightgrey;
  border-width: 3px;
}

h3 {
  font-family: serif;
  background-color: lightpink;
  font-size: 150%;
  color: black;
  text-align: center;
  border: solid;
  border-style: outset;
  border-color: lightgrey;
  border-width: 3px;
}

h4 {
  font-family: serif;
  background-color: lightpink;
  font-size: 18px;
  color: black;
    position: relative;
    left:-1px;
  text-align: center;
  width: 175px;
  border: solid;
  border-style: outset;
  border-color: lightgrey;
  border-width: 3px;

}

p {
  font-family: serif;
  background-color: white;
  font-size: 130%;
  color: black;
  position: relative;
  width: 580px;
  text-align: center;
  border: hidden;
  border-color: white;
  border-width: 3px;
  border-style: none;
  line-height: 25px;
}

ul {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 150%;
  border: hidden;
  border-color: indianred;
  border-width: 3px;
  background-color: white;
  font-family: serif;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

div#nav {
width: 200px;
float: left;

}

div#maincontent {
width: 600px;
float: right;
    position: relative;
    right:100px;
}

div.navblock {
width: 180px;
margin: 1px auto;
border: 1px solid #DDDDDD;
text-align: center;
}

div.contentblock {
width: 580px;
margin: 5px auto;
border: 0px solid #FFFFFF;

}

a:link {
  background-color: white;
  color: blue;
  padding: 1.5px 1.5px;
  text-align: justify;
  text-decoration: none;
  display: inline-block;
}
a:hover {
    text-decoration: none;  
    	  color: blue;
}
a:visited {
	  color: blue;
  text-decoration: none;

}
a:active {
    text-decoration: none;
}
